In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sys
sys.path.append("../utils")
import toolbox_ML as tb
import seaborn as sns

In [4]:
df=pd.read_csv('../data_sample/ai4i2020.csv')
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [8]:
# rename dataset columns
df.rename(columns = {'Product ID':'Product_ID',
                    'Air temperature [K]':'Air_temperature',
                     'Process temperature [K]':'Process_temperature',
                     'Rotational speed [rpm]':'Rotational_speed',
                     'Torque [Nm]':'Torque',
                     'Tool wear [min]':'Tool_wear',
                     'Machine failure':'Machine_failure',},
          inplace = True)

In [12]:
df.Machine_failure.value_counts()

Machine_failure
0    9661
1     339
Name: count, dtype: int64

In [11]:
df.Type.value_counts()

Type
L    6000
M    2997
H    1003
Name: count, dtype: int64

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   UDI                  10000 non-null  int64
 1   Product_ID           10000 non-null  object
 2   Type                 10000 non-null  object
 3   Air_temperature      10000 non-null  float64
 4   Process_temperature  10000 non-null  float64
 5   Rotational_speed     10000 non-null  int64
 6   Torque               10000 non-null  float64
 7   Tool_wear            10000 non-null  int64
 8   Machine failure      10000 non-null  int64
 9   TWF                  10000 non-null  int64
 10  HDF                  10000 non-null  int64
 11  PWF                  10000 non-null  int64
 12  OSF                  10000 non-null  int64
 13  RNF                  10000 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 1.1+ MB

In [6]:
X = df.drop(columns=['Machine failure', 'TWF', 
                     'HDF', 'PWF', 'OSF', 
                     'RNF'])
y = df['Machine failure']

In [7]:
df.machine_failure.value_counts()

AttributeError: 'DataFrame' object has no attribute 'machine_failure'

In [ ]:
X_train, X_test, y_train, y_test = tb.split_data(X, y, test_size=0.2, random_state=42,stratify=True)

In [51]:
X.head()

,UDI,Product_ID,Type,Air_temperature,Process_temperature,Rotational_speed,Torque,Tool_wear
0,1,M14860,M,298.1,308.6,1551,42.8,0
1,2,L47181,L,298.2,308.7,1408,46.3,3
2,3,L47182,L,298.1,308.5,1498,49.4,5
3,4,L47183,L,298.2,308.6,1433,39.5,7
4,5,L47184,L,298.2,308.7,1408,40.0,9

In [ ]:
df.drop(columns=["UDI", "Product_ID"], inplace=True)